body{
  padding-top: 15px;
  padding-bottom: 15px;
  background-size: cover;
  background-image: url('../asset/full_bg.jpg');
  font: 14px "Microsoft JhengHei", arial, sans-serif;
}

h3{
  display: block;
  font-weight: normal;
  position: absolute;
  text-shadow : 0 0 2px #000;
  left: 12px;
  font-size : 16px;
  color : #F9F7F6;
}

input[type='text']{
	border: 1px solid #CED3D9;
	padding: 0 0 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: boder-box;
  display: inline-block;
  top: 50%;
  font: 16px "Microsoft JhengHei", arial, sans-serif;
  height: 35px;
  width: 98%;
  position: relative;
  transform:translateY(-50%);
	border-radius: 3px;
	color : #B0B0B0;
}

.container{
  margin: 0px auto;
  display:flex;
  align-items:center;
  justify-content:center;
}

.demo-btn{
  background-color: #3A3A75;
  border: none;
  border-radius: 50%;
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  color: #EEE !important;
  text-decoration: none !important;
}


.info{
  width: 400px;
  display: inline-block;
  margin-right: 15px;
  float:left;
  position: relative;
  border: 1px solid rgba(30, 30, 30, 0.3);
  box-shadow: 0px 0px 2px #AAA;
  overflow: hidden;
  background-color: rgba(33, 32, 34, 0.7);
  padding: 10px 30px;
  font-family: "Georgia", Arial;
  color: #E0E0E0;
  border-radius: 2px 2px 2px 2px;
}

.info > h2{
  display: inline-block;
  margin-right: 10px;
}

.info > h2:before{
  content: '#';
  color: #DDD;
  margin-right: 3px;
  font-size: 24px;
}

.samples{
  margin-top: 20px;
}

.chat-container{
  width: 600px;
	margin: 5px 30px 5px 25px;
  display: inline-block;
  float:left;
	position: relative;
	border: 1px solid #CFCFCF;
	overflow: hidden;
	background-color: rgb(242, 242, 243);
	border-radius: 2px 2px 7px 7px;
}

.demo-console{
  background-color: rgba(33, 34, 33, 0.95);
  padding: 10px 20px;
  margin-bottom: 25px;
  overflow: auto;
  border: 1px solid rgba(50, 50, 20, 0.95);
  border-radius: 5px;
}

.chat-console{
  background-color: rgb(242, 242, 243);
  height: 500px;
  padding: 10px 20px;
  overflow: auto;
}

.bg-image {
  width: 620px;
  height: 160px;
  background-size: cover;
  background-image: url('../asset/bg.jpg');
  position: relative;
  border-bottom: 1px solid rgb(156, 152, 160);
}

.image{
	width: 110px;
	height: 110px;
	position: absolute;
	background: #F7F9F9;
	border: 1px solid rgb(156, 152, 160);
	top: 25px;
	left: 235px;
	border-radius: 50%;
  box-shadow: 0px 0px 3px #222;
}

.image:before{
	content: '';
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	top: 5px;
	left: 5px;
  background-repeat: no-repeat;
  background-size: cover;
	background-image: url('../asset/kmlab.png');
}

.input-div{
  height: 30px;
  padding: 14px 8px;
  text-align: center;
  background-color: rgb(252, 252, 252);
  border-top: 1px solid #CFCFCF;
}

.chatlog {
  font: 15px "Microsoft JhengHei", arial, sans-serif;
}

.align-right{
  text-align:right;
}
